.drawer{
  display: none;
  @include mq(sp){
    display: block;
    .drawer-icon{
      cursor: pointer;
      position: relative;
      float: right;
      top: -40px;
      font-size: 24px;
      i{
        display: none;
        position: absolute;
        top: 0;
        right: 8px;
      }
      .drawer-action{
        display: block;
      }
    }
    .drawer-nav{
      display: none;
      padding: 20px;
      .drawer-list{
        li{
          padding: 20px 0;
          border-bottom: 1px dashed $fontText;
          &:first-child{
            border-top: 1px dashed $fontText;
          }
          &:hover{
            background-color: rgba(0,0,0,0.2);
            opacity: 0.6;
          }
          a{
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
  }
}